body { background: #43c9f2; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 43px; display: flex; }
.block-metrics-0 { color: #414d4; font-size: 20px; margin-bottom: 5px; }
.block-config-1 { color: #d66464; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #9f7714; font-size: 16px; margin-bottom: 5px; }
.block-search-3 { color: #aa72eb; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #fda0e4; font-size: 16px; margin-bottom: 5px; }
.block-cache-5 { color: #247546; font-size: 17px; margin-bottom: 5px; }